In [1]:
import pandas as pd

In [2]:
#print('enter name of file (please include extension type)')

print('enter port abbreviation (ie.SYD, MEL, BNE, ADL)')
port = input()
filename = port+' SCHED_FLIGHTS_DDO_Report_Summary.xls'


if filename == 'MEL SCHED_FLIGHTS_DDO_Report_Summary.xls':
    data = pd.read_excel(str(filename), skiprows=5)
elif filename == 'SYD SCHED_FLIGHTS_DDO_Report_Summary.xls':
    data = pd.read_excel(str(filename), skiprows=7)
elif filename == 'BNE SCHED_FLIGHTS_DDO_Report_Summary.xls':
    data = pd.read_excel(str(filename), skiprows=8)
elif filename == 'ADL SCHED_FLIGHTS_DDO_Report_Summary.xls':
    data = pd.read_excel(str(filename), skiprows=8)
else:
    print('please check port and try again')

data

enter port abbreviation (ie.SYD, MEL, BNE, ADL)
ADL

,Date,Unnamed: 1,ST\n,Flt IN,Unnamed: 4,Unnamed: 5,Unnamed: 6,Flt OUT,Unnamed: 8,Unnamed: 9,...,Unnamed: 41,DEPARTED > 15 minSTD,Unnamed: 43,Unnamed: 44,Unnamed: 45,Arrival Occurrence\nRemark,Departure Occurrence\nRemark,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,2020-08-31 00:00:00,NaN,CS,*,NaN,NaN,NaN,QFA 0724,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,DDO 11 Manpower,NaN,NaN,NaN
1,2020-08-31 00:00:00,NaN,CS,*,NaN,NaN,NaN,QFA 0722,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-08-31 00:00:00,NaN,TU,QFA 0661,NaN,NaN,NaN,QFA 0662,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-08-31 00:00:00,NaN,TU,QFA 0882,NaN,NaN,NaN,QFA 0885,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-08-31 00:00:00,NaN,TU,QFA 0665,NaN,NaN,NaN,QFA 0664,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2020-08-31 00:00:00,NaN,TE,QFA 0723,NaN,NaN,NaN,QFA 0722,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,DDO 11 Manpower,NaN,NaN,NaN,NaN
6,2020-08-31 00:00:00,NaN,TE,QFA 0725,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,DDO 11 Manpower,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"01.09.2020, 05:10",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.dropna(subset = ["ST\n"], inplace=True)

In [4]:
columns = [
 'Date',
 'ST\n',
 'Flt IN',
 'Flt OUT',
 'STA',
 'STT',
 'STD',
 'ATA',
 'ATT',
 'ATD',
 'In Gate',
 'Out Gate',
 'DDO IN\n',
 'DDO OUT\n',
 'DEPARTED < STD      \n',
 'DEPARTED < 15 min STD\n',
 'DEPARTED > 15 minSTD',
 'Arrival Occurrence\nRemark',
 'Departure Occurrence\nRemark',
]

data_cleaned = data[columns]

In [5]:
column_names = [
 'Date',
 'ST',
 'Flt IN',
 'Flt OUT',
 'STA',
 'STT',
 'STD',
 'ATA',
 'ATT',
 'ATD',
 'In Gate',
 'Out Gate',
 'DDO IN',
 'DDO OUT',
 'DEPARTED < STD',
 'DEPARTED < 15 min STD',
 'DEPARTED > 15 min STD',
 'Arrival Occurrence Remark',
 'Departure Occurrence Remark'
]

data_cleaned.columns = column_names
data_cleaned['Port'] = str(port)
data_cleaned

D:\Users\207634\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Date,ST,Flt IN,Flt OUT,STA,STT,STD,ATA,ATT,ATD,In Gate,Out Gate,DDO IN,DDO OUT,DEPARTED < STD,DEPARTED < 15 min STD,DEPARTED > 15 min STD,Arrival Occurrence Remark,Departure Occurrence Remark,Port
0,2020-08-31 00:00:00,CS,*,QFA 0724,NaT,655.0,2020-08-31 07:00:00,NaT,650.0,2020-08-31 06:57:00,*,G24,Y,NaN,1.0,0.0,0.0,NaN,DDO 11 Manpower,ADL
1,2020-08-31 00:00:00,CS,*,QFA 0722,NaT,830.0,2020-08-31 08:00:00,NaT,835.0,2020-08-31 07:58:00,*,G23,Y,Y,1.0,0.0,0.0,NaN,NaN,ADL
2,2020-08-31 00:00:00,TU,QFA 0661,QFA 0662,2020-08-31 09:15:00,55.0,2020-08-31 10:10:00,2020-08-31 09:01:00,59.0,2020-08-31 10:06:00,G23,G23,Y,Y,1.0,0.0,0.0,NaN,NaN,ADL
3,2020-08-31 00:00:00,TU,QFA 0882,QFA 0885,2020-08-31 10:00:00,60.0,2020-08-31 11:00:00,2020-08-31 09:48:00,72.0,2020-08-31 11:08:00,G24,G24,Y,Y,0.0,1.0,0.0,NaN,NaN,ADL
4,2020-08-31 00:00:00,TU,QFA 0665,QFA 0664,2020-08-31 15:45:00,40.0,2020-08-31 16:25:00,2020-08-31 15:38:00,46.0,2020-08-31 16:31:00,G24,G24,Y,Y,0.0,1.0,0.0,NaN,NaN,ADL
5,2020-08-31 00:00:00,TE,QFA 0723,QFA 0722,2020-08-31 18:10:00,830.0,2020-09-01 08:00:00,2020-08-31 18:25:00,NaN,NaT,G23,G23,NaN,Y,NaN,NaN,NaN,DDO 11 Manpower,NaN,ADL
6,2020-08-31 00:00:00,TE,QFA 0725,NaN,2020-08-31 11:10:00,NaN,NaT,2020-08-31 10:55:00,NaN,NaT,G20,NaN,NaN,NaN,0.0,0.0,0.0,DDO 11 Manpower,NaN,ADL

In [6]:
filename_out = port+' SCHED_FLIGHTS_DDO_output.csv'

data_cleaned.to_csv(filename_out, index = False, header=True)